<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
        <title>Mini Software</title>
    </head>
    <body>
        <nav style="margin-top: 20px;">
            <div>
                <a href="../index.html" style="font-size: 30px;">
                    <img style="margin-right: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEuKqVx0XBxQubTNXpJZ5EGXMVOplXEgxqJA&usqp=CAU"
                        width="30px"
                        alt="">Mini Software
                </a>
                <a style="margin-left: 60%;" href="../index.html">Inicio</a>
                <a style="padding-left: 2%;" href="./shop.html">Tienda</a>
                <a style="padding-left: 2%;" href="./info.html">Sobre Nosotros</a>
                <a style="padding-left: 2%;" href="./shoppiong.html"><img
                        src="../icons/shopping-cart.png" alt=""></a>
                <hr>
            </div>
        </nav>
        <main>
            <h1 class="content-center">Informacion</h1>
            <div class="item">
                <div>
                    <h2>Nacimiento de la empresa</h2>
                    <p>El nacimiento fue en 2023 para crear los productos de
                        buena calidad y los mas rapido posible de entregar</p>
                </div>
                <div>
                    <h2>Elavoracion de nuestros productos</h2>
                    <p>Los productos se elavoran con pasiencia y calidad, para
                        testear los productos de forma abrumadora, para que los <br>
                        clientes tengan un buen producto</p>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <p>Todos los derechos reservados a Minisoftware 2023</p>
    </footer>
</html>
