<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles.css">
        <title>Document</title>
    </head>
    <body>
        <nav style="margin-top: 20px;">
            <div>
                <a href="../index.html" style="font-size: 30px;">
                    <img style="margin-right: 10px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEuKqVx0XBxQubTNXpJZ5EGXMVOplXEgxqJA&usqp=CAU"
                        width="30px"
                        alt="">Mini Software
                </a>
                <a style="margin-left: 60%;" href="../index.html">Inicio</a>
                <a style="padding-left: 2%;" href="./shop.html">Tienda</a>
                <a style="padding-left: 2%;" href="./info.html">Sobre Nosotros</a>
                <a style="padding-left: 2%;" href="./shoppiong.html"><img
                        src="../icons/shopping-cart.png" alt=""></a>
                <hr>
            </div>
        </nav>
        <main>
            <h1 class="content-center">Informacion</h1>
            <div class="item">
                <div>
                    <h2>Justificacion de elementos elegidos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam enim est, ea delectus reprehenderit voluptates quis repellat voluptatem? Aliquid a, cum dolores ea maxime dignissimos nesciunt quae nihil nam sed.</p>
                </div>
                <div>
                    <h2>Nacimiento de la empresa</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim unde incidunt ad. Ex exercitationem illo odio corrupti obcaecati rerum eum et provident non voluptate? Animi iusto aspernatur magnam dignissimos, delectus unde hic vitae nemo, omnis libero sed commodi laborum quibusdam eveniet earum minima veritatis similique blanditiis in doloribus dolores expedita architecto esse. Aliquam, eos ducimus, praesentium dicta, dignissimos ut et reiciendis quae laboriosam quod similique modi mollitia nobis voluptate dolorum vero! Impedit rerum molestias laborum, dolorum nam nulla commodi eum provident, voluptas saepe dignissimos cupiditate laboriosam ratione, minima sint veniam error vero. Ex non voluptatum aut quo sunt dolor voluptas!</p>
                </div>
                <div>
                    <h2>Elavoracion de nuestros productos</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae nam, quas deserunt pariatur officiis fugiat! Blanditiis cumque et minus necessitatibus nostrum, porro minima, laudantium, officiis illum harum ex eos asperiores!</p>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            culpa sapiente accusamus porro repellendus doloremque corrupti
            at deserunt illo dolore!</p>
    </footer>
</html>